<p id="notice"><%= notice %></p>

<p>
  <b>タイトル:</b>
  <%= @prob.title %>
</p>

<p>
  <% @states.each_with_index do |state, index| %>
    <% if state.ans == 0 %>
      <span class="label label-success">CA</span>
    <% else %>
      <span class="label label-warning">WA</span>
    <% end %>

	  <b>選択肢<%= (index + 1) %>:</b>
  	<%= state.compo %>

   	<br />
  <% end %>
</p>

<p>
  <b>画像:</b>
  <% if @prob.url != "" %>
    <%= image_tag(@prob.url)%>
  <% else %>
      <span class="label">no image</span>
  <% end %>
</p>

<p>
  <b>作成者:</b>
  <%= @prob.auther %>
</p>
<%= link_to '戻る', probs_path%>
